# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=eu-north-1

# App Configuration
S3_BUCKET_NAME=your-bucket-name-here

# Localstack
USE_LOCALSTACK=true

# Encryption key path (optional, defaults to master.key)
KEY_PATH=master.key